body{
  background-color: #0f4c75;
  color: #FFFFFF;
  font-family: arial;
}
h1{
  font-size: 40px;
  text-align: center;
}
.formulario {
  border-radius: 5px;
  background-color: #1b262c;
  padding: 20px;
  width: 500px;
  height: auto;
  text-align: justify;
}
input.form, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #bbe1fa;
}
input.bot{
  width: 100%;
  background-color: #3282b8;
  color: #bbe1fa;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input.bot:hover {
  background-color: #233cb8;
}
